# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
/web/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# iOS related
/ios/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*~.nib
DerivedData/

# Android related
/android/
*.jks
key.properties

# Platform specific
/windows/
/linux/
/macos/

# Test related
/test/
/integration_test/

# Documentation tidak penting
START_HERE.txt
SUMMARY.md
GUIDE.md
ADAPTATION_GUIDE.md
INSTALL.md
FILE_STRUCTURE.md
PROJECT_INFO.txt
INDEX.md
VISUAL_GUIDE.md
